# Ignora arquivos gerados dentro das pastas, mas mantém a estrutura
/original/*
!/original/.gitkeep

/cifrado/*
!/cifrado/.gitkeep

/decifrado/*
!/decifrado/.gitkeep

# Ignora o arquivo de ambiente
.env